header div.wrapper {
  height: 29px;
  width: 100%;
  padding-left: 28px;
  padding-right: 5px;
}
header div.wrapper a#logo {
  margin-top: 3px;
}
header div.wrapper div.pull-right {
  margin-right: -2px;
}
header div.wrapper div,
header div.wrapper div ul,
header div.wrapper div ul li,
header div.wrapper div ul li a {
  height: 29px;
}
header div.wrapper div ul li a {
  font-size: 12px;
  padding-top: 5px;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 4px;
  border-bottom: none;
  border-radius: 0px;
  color: #777777;
}
header div.wrapper div ul li {
  padding: 0px;
  margin: 0px;
}
header div.wrapper div ul {
  border-bottom: none;
}
