header {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 29px;
  z-index: 1100;
}
navbar {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 30px;
  height: 40px;
  z-index: 1000;
}
subnavbar {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 72px;
  height: 20px;
  z-index: 900;
}
content {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 92px;
  overflow: auto;
}
navbar {
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}
navbar div.wrapper {
  width: 100%;
  padding: 0px 12px;
}
navbar .navbar-collapse.collapse {
  padding: 0px;
}
navbar .navbar-collapse.collapse ul.nav.navbar-nav.navbar-right {
  margin-right: 0px;
}
navbar .navbar {
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
  background-repeat: repeat-x;
  height: 40px;
  min-height: 42px;
  border-radius: 0px;
}
navbar .navbar a.navbar-brand {
  height: 40px;
  padding-top: 6px;
}
navbar .navbar a.navbar-brand img {
  height: 25px;
}
navbar .navbar ul.nav.navbar-nav li a {
  padding-top: 10px;
  padding-bottom: 10px;
  text-shadow: 0 1px 0 #ffffff;
}
navbar .navbar ul.nav.navbar-nav li a i {
  padding-right: 5px;
}
navbar .navbar ul.nav.navbar-nav li.active {
  text-decoration: none;
  background-color: #e5e5e5;
}
navbar .navbar ul.nav.navbar-nav li.active a {
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}
subnavbar .wrapper {
  width: 100%;
  padding: 0px 30px;
}
subnavbar .navbar {
  height: 32px;
  min-height: 34px;
  border-top: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  padding-top: 2px;
  padding-left: 4px;
  padding-right: 4px;
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
  background-repeat: repeat-x;
}
subnavbar .navbar ul.nav.navbar-nav li {
  margin-top: 2px;
  color: #777777;
}
subnavbar .navbar ul.nav.navbar-nav li a {
  padding: 2px 12px;
  text-shadow: 0 1px 0 #ffffff;
  border-radius: 2px;
  color: #777777;
}
subnavbar .navbar ul.nav.navbar-nav li a i {
  padding-right: 5px;
}
subnavbar .navbar ul.nav.navbar-nav li.active {
  text-decoration: none;
}
subnavbar .navbar ul.nav.navbar-nav li.active a {
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}
header div.wrapper {
  height: 29px;
  width: 100%;
  padding-left: 28px;
  padding-right: 5px;
}
header div.wrapper a#logo {
  margin-top: 3px;
}
header div.wrapper div.pull-right {
  margin-right: -2px;
}
header div.wrapper div,
header div.wrapper div ul,
header div.wrapper div ul li,
header div.wrapper div ul li a {
  height: 29px;
}
header div.wrapper div ul li a {
  font-size: 12px;
  padding-top: 5px;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 4px;
  border-bottom: none;
  border-radius: 0px;
  color: #777777;
}
header div.wrapper div ul li {
  padding: 0px;
  margin: 0px;
}
header div.wrapper div ul {
  border-bottom: none;
}
