.primary-region {
  position: absolute;
  left: 0px;
  right: 0px;
  overflow: hidden;
}
header {
  top: 0px;
  height: 30px;
  z-index: 1100;
  position: absolute;
  left: 0px;
  right: 0px;
  overflow: hidden;
  overflow: visible;
}
navbar {
  top: 0px;
  height: 40px;
  z-index: 1000;
  position: absolute;
  left: 0px;
  right: 0px;
  overflow: hidden;
}
subnavbar {
  top: 40px;
  height: 32px;
  z-index: 900;
  position: absolute;
  left: 0px;
  right: 0px;
  overflow: hidden;
}
nav {
  top: 30px;
  height: 72px;
  z-index: 1000;
  position: absolute;
  left: 0px;
  right: 0px;
  overflow: hidden;
}
content {
  bottom: 0px;
  top: 102px;
  z-index: 800;
  position: absolute;
  left: 0px;
  right: 0px;
  overflow: hidden;
}
overlay {
  top: 0px;
  bottom: 0px;
  z-index: 2000;
  position: absolute;
  left: 0px;
  right: 0px;
  overflow: hidden;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
navbar {
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}
navbar div.wrapper {
  width: 100%;
  padding: 0px 12px;
}
navbar .navbar-collapse.collapse {
  padding: 0px;
}
navbar .navbar-collapse.collapse ul.nav.navbar-nav.navbar-right {
  margin-right: 0px;
}
navbar .navbar {
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
  background-repeat: repeat-x;
  height: 40px;
  min-height: 0px;
  border-radius: 0px;
}
navbar .navbar a.navbar-brand {
  height: 40px;
  padding-top: 6px;
}
navbar .navbar a.navbar-brand img {
  height: 25px;
}
navbar .navbar ul.nav.navbar-nav li a {
  padding-top: 10px;
  padding-bottom: 10px;
  text-shadow: 0 1px 0 #ffffff;
  outline: 0 none;
}
navbar .navbar ul.nav.navbar-nav li a i {
  padding-right: 5px;
}
navbar .navbar ul.nav.navbar-nav li.active {
  text-decoration: none;
  background-color: #e5e5e5;
}
navbar .navbar ul.nav.navbar-nav li.active a {
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}
subnavbar .wrapper {
  width: 100%;
  padding: 0px 30px;
}
subnavbar .navbar {
  height: 32px;
  min-height: 0px;
  border-top: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  padding-top: 2px;
  padding-left: 4px;
  padding-right: 4px;
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
  background-repeat: repeat-x;
}
subnavbar .navbar ul.nav.navbar-nav li {
  margin-top: 2px;
  color: #777777;
}
subnavbar .navbar ul.nav.navbar-nav li a {
  padding: 2px 12px;
  text-shadow: 0 1px 0 #ffffff;
  border-radius: 2px;
  color: #777777;
  outline: 0 none;
}
subnavbar .navbar ul.nav.navbar-nav li a i {
  padding-right: 5px;
}
subnavbar .navbar ul.nav.navbar-nav li.active {
  text-decoration: none;
}
subnavbar .navbar ul.nav.navbar-nav li.active a {
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}
header div.wrapper {
  height: 30px;
  width: 100%;
  padding-left: 28px;
  padding-right: 5px;
}
header div.wrapper a#logo {
  margin-top: 3px;
}
header div.wrapper div.pull-right {
  height: 30px;
  margin-right: -2px;
}
header div.wrapper div.pull-right ul.nav-tabs {
  height: 30px;
  border-bottom: none;
}
header div.wrapper div.pull-right ul.nav-tabs li {
  height: 30px;
  padding: 0px;
  margin: 0px;
}
header div.wrapper div.pull-right ul.nav-tabs li a {
  height: 30px;
  font-size: 12px;
  padding-top: 6px;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 4px;
  border: none;
  border-radius: 0px;
  color: #777777;
  cursor: pointer;
}
header div.wrapper div.pull-right ul.nav-tabs ul.dropdown-menu {
  top: 31px;
  left: auto;
  right: 2px;
}
overlay {
  background: #fff;
}
overlay div#loading-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 150px;
  margin-left: -200px;
  margin-top: -75px;
  text-align: center;
}
overlay div#loading-box img#logo {
  position: absolute;
  top: 0px;
  left: 25px;
}
overlay div#loading-box img#loader {
  position: absolute;
  left: 100px;
  bottom: 0px;
}
