header {
    div.wrapper {
        height: 29px;
        width: 100%;
        padding-left: 28px;
        padding-right: 5px;

        a#logo {
            margin-top: 3px;
        }
        div.pull-right {
            margin-right: -2px;
        }
        div, div ul, div ul li, div ul li a {
            height: 29px;
        }
        div ul li a {
            font-size: 12px;
            padding-top: 5px;
            padding-left: 8px;
            padding-right: 8px;
            margin-left: 4px;
            border-bottom: none;
            border-radius: 0px;
            color: rgb(119, 119, 119);
        }
        div ul li {
            padding: 0px;
            margin: 0px;
        }
        div ul {
            border-bottom: none;
        }
    }
}
