header {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 29px;
    z-index: 1100;
}
navbar {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 30px;
    height: 40px;
    z-index: 1000;
}
subnavbar {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 72px;
    height: 20px;
    z-index: 900;
}
content {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 92px;
    overflow: auto;
}
