<div class="wrapper">
    <a id="logo" class="pull-left" href="#"><img src="../img/logo-full-015.png"/></a>
    <div class="pull-right">
        <ul class="nav nav-tabs pull-right">
            <li>
                <a ng-href="#/help" href="#/help">
                    <i class="glyphicon glyphicon-info-sign"></i>
                </a>
            </li>

            <li class="dropdown">
                <a ng-href="#" class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;<span>user</span>&nbsp;<span class="caret"></span>
                </a>
                <ul class="dropdown-menu right">
                    <li>
                        <a ng-href="#/preferences" data-placement="bottom" data-original-title="Edit your preferences" href="#/preferences">
                            <i class="icon-cogs fixme"></i> Preferences
                        </a>
                    </li>
                    <li style="display: none;">
                        <a href="" data-placement="bottom" ng-click="logout()" data-original-title="Log out">
                            <i class="icon-signout fixme"></i> Log Out
                        </a>
                    </li>
                    <li>
                        <a ng-href="#/about" data-placement="bottom" data-original-title="About" class="ng-binding" href="#/about">
                            <i class="icon-info"></i> About 
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
